# Polymarket Client keys
POLYMARKET_PRIVATE_KEY=
POLYMARKET_WALLET_ADDRESS=
POLYMARKET_RELAYER_API_KEY=
POLYMARKET_RELAYER_API_KEY_ADDRESS=

# Polymarket Order parameters
POLYMARKET_TOKEN_ID=
POLYMARKET_AMOUNT=10
POLYMARKET_MAX_PRICE=0.50
